#cookie_img{
    background-color: none;
    border-style: none;
    

};
#cookie_img:hover{
    border-style: none;
    background-color: red ;
    border: none;
};
/* #cookie_img:{
    border-style: none;
    background-color: white;
    border: none;
}; */
